@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    background-color: #a8dadc;
}

.text--area {
    min-width: 50%;
    max-width: 75%;
}

.nav--color {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    font-size: 2em;
}

.navbar-item {
    color: black;
    flex-direction: column !important;
}

body {
    min-height: 100vh;
}

.textbox--flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
}

.navbar-brand {
    justify-content: center;
}